<% content_for :register do %>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><%= t('master.register') %></div>
                      <div class="card-body">
                        <form action="" method="">
                            <%# Username %>
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right"><%= t('master.username') %></label>
                                <div class="col-md-6">
                                    <input type="text" id="username" class="form-control" name="email-address" required autofocus>
                                </div>
                            </div>

                            <%# Email %>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right"><%= t('master.email') %></label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="email-address" required autofocus>
                                </div>
                            </div>

                            <%# Password %>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right"><%= t('master.password') %></label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <%# Repeat Password %>
                            <div class="form-group row">
                                <label for="repeat-password" class="col-md-4 col-form-label text-md-right"><%= t('master.repeat-password') %></label>
                                <div class="col-md-6">
                                    <input type="password" id="repeat-password" class="form-control" name="repeat-password" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <%= t('master.register') %>
                                </button>
                            </div>
                          </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</main>
<% end %>
