<% content_for :content do %>
    <div class="title">Change password</div>
    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <%= form_with do |form| %>
                                <div class="form-group row">
                                    <%= form.label :password, t('master.current-password'), :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                                    <div class="col-md-6">
                                        <%= form.password_field :current_password, :class => "form-control" %>
                                    </div>
                                </div>

                                <%# Password %>
                                <div class="form-group row">
                                    <%= form.label :new_password, t('master.new-password'), :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                                    <div class="col-md-6">
                                        <%= form.password_field :new_password, :class => "form-control" %>
                                    </div>
                                </div>

                                <%# Confirm Password %>
                                <div class="form-group row">
                                    <%= form.label :confirm_password, t('master.confirm-password'), :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                                    <div class="col-md-6">
                                        <%= form.password_field :confirm_password, :class => "form-control" %>
                                    </div>
                                </div>

                                <%# change %>
                                <div class="col-md-6 offset-md-4">
                                    <%= form.button  t('master.change-password'), :class => "btn btn-primary" %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<% end %>
