<% content_for :content do %>
  <div class=" title">Edit your profile</div>
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <%= form_with do |form| %>
                <%# Username %>
                <div class="form-group row">
                    <%= form.label :username, "Username: ", :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                    <div class="col-md-6">
                        <%= form.text_field :username, :class => "form-control", :value => current_user.name %>
                    </div>
                </div>

                <%# Email %>
                <div class="form-group row">
                    <%= form.label :email, "Email: ", :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                    <div class="col-md-6">
                        <%= form.text_field :email, :class => "form-control", :value => current_user.email %>
                    </div>
                </div>

                <%# Role %>
                <div class="form-group row">
                    <%= form.label :role, "Role: ", :class => "col-md-4 col-form-label text-md-right label_add_post" %>
                    <div class="col-md-6">
                        <%= form.text_field :role, :class => "form-control", :disabled => true %>
                    </div>
                </div>

                <%# Save %>
                <div class="col-md-6 offset-md-4">
                    <%= form.button "Save", :class => "btn btn-primary" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
