<% content_for :content do %>
    <div class="title"><%= t('user.list-user')%></div>
    <%= form_tag(users_path, method: :get) do %>
      <div class="main">
          <div class="input-group"> 
            <% # Search %>
            <%= text_field_tag(:search, "", :class => "form-control", :placeholder => t('user.search')) %>
            <div class="input-group-append">
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                  <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>

    <div class="main-container table-responsive py-5"> 
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col"><%= t('user.name')%></th>
                <th scope="col">Email</th>
                <th scope="col" class="size-column"><%= t('user.action')%></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <th scope="row"><%= user.id %> </th>
                        <td><%= user.name %> </td>
                        <td><%= user.email %> </td>
                        <td>
                            <% if !user.is_admin %>
                              <%= link_to t('user.edit'), edit_user_path(user.id) %>
                              <%= link_to t('user.delete'), user, method: :delete, data: { confirm: t('user.really') }, :class => "delete" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
    </div>
<% end %>
