<nav id="border" class="navbar-nav">
    <div>
        <%= link_to image_tag("vn.png", class: "icon-flag navbar-nav ml-auto"), locale: "vi" %>
        <%= link_to image_tag("gb.png", class: "icon-flag navbar-nav ml-auto"), locale: "en" %>
    </div>
</nav>
<section class="content">
    <% flash.each do |key, value| %>
        <div class="row">
            <div class="alert alert-<%= key %>  master-center">
                <%= value %>
            </div>
        </div>
    <% end %>
</section>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <%= link_to("#") do %>
                <span class="user-name">
                    <b>POST VOTE</b>
                </span>
            <% end %>
        </div>
        <div class="sidebar-header">
            <div class="col">
                <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar, :class => "size-image" %>
                <% end %>
            </div>
            <div class="col">
                <div class="user-info">
                    <span class="user-name">
                        <strong>User: <%= current_user.name %></strong>
                    </span>
                    <span class="user-name">
                        <% if current_user.is_admin %>
                            <strong>Role: Admin</strong>
                        <% else %>
                            <strong>Role: User</strong>
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <% # General %>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(user_path(current_user)) do %>
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                    <% end %>
                </li>
                
                <% if current_user.is_admin %>
                    <% # User %>
                    <li class="header-menu">
                        <span>User</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <%= link_to("/users") do %>
                            <i class="fa fa-users"></i>
                            <span>List User</span>
                        <% end %>
                    </li>
                <% end %>

                <% # Post %>
                <li class="header-menu">
                    <span>Post</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/posts") do %>
                        <i class="fa fa-list"></i>
                        <span>List post</span>
                    <% end %>
                </li>

                <% if current_user.is_admin %>
                    <li class="sidebar-dropdown">
                        <%= link_to(new_post_path) do %>
                            <i class="fa fa-plus-circle"></i>
                            <span>Add post</span>
                        <% end %>
                    </li>
                <% end %>

                <% # Setting %>
                <li class="header-menu">
                    <span>Setting</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(edit_user_path(current_user)) do %>
                        <i class="fa fa-user"></i>
                        <span>Profile</span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to (logout_path), method: :delete do %>
                        <i class="fa fa-sign-out"></i>
                        <span>Sign Out</span>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
