<nav id="border" class="navbar-nav">
    <div>
        <%= link_to image_tag("vn.png", class: "icon-flag navbar-nav ml-auto"), locale: "vi" %>
        <%= link_to image_tag("gb.png", class: "icon-flag navbar-nav ml-auto"), locale: "en" %>
    </div>
</nav>
<section class="content">
    <% if flash.any? %>
        <script type="text/javascript">
            <% flash.each do |key, value| %>
                <% type = key.to_s.gsub("alert", "error").gsub("notice", "success") %>
                toastr.<%= type %>('<%= value %>')
            <% end %>
        </script>
    <% end %>
</section>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <%= link_to("#") do %>
                <span class="user-name">
                    <b>POST VOTE</b>
                </span>
            <% end %>
        </div>
        <div class="sidebar-header">
            <div class="col">
                <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar, :class => "size-image" %>
                <% end %>
            </div>
            <div class="col">
                <div class="user-info">
                    <span class="user-name">
                        <strong><%= t("homepage.username") + ":" %> <%= current_user.name %></strong>
                    </span>
                    <span class="user-name">
                        <% if current_user.is_admin %>
                            <strong><%= t("homepage.role") %> : <%= t("homepage.admin") %></strong>
                        <% else %>
                            <strong><%= t("homepage.role") %> : <%= t("homepage.role") %></strong>
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <% # General %>
                <li class="header-menu">
                    <span><%= t("homepage.general") %></span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(user_path(current_user)) do %>
                        <i class="fa fa-tachometer"></i>
                        <span><%= t("homepage.dashboard") %></span>
                    <% end %>
                </li>
                
                <% if current_user.is_admin %>
                    <% # User %>
                    <li class="header-menu">
                        <span><%= t("homepage.user") %></span>
                    </li>
                    <li class="sidebar-dropdown">
                        <%= link_to("/users") do %>
                            <i class="fa fa-users"></i>
                            <span><%= t("homepage.list-user") %></span>
                        <% end %>
                    </li>
                <% end %>

                <% # Post %>
                <li class="header-menu">
                    <span><%= t("homepage.post") %></span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/posts") do %>
                        <i class="fa fa-list"></i>
                        <span><%= t("homepage.list-post") %></span>
                    <% end %>
                </li>

                <% if current_user.is_admin %>
                    <li class="sidebar-dropdown">
                        <%= link_to(new_post_path) do %>
                            <i class="fa fa-plus-circle"></i>
                            <span><%= t("homepage.add-post") %></span>
                        <% end %>
                    </li>
                <% end %>

                <% # Setting %>
                <li class="header-menu">
                    <span><%= t("homepage.setting") %></span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(edit_user_path(current_user)) do %>
                        <i class="fa fa-user"></i>
                        <span><%= t("homepage.profile") %></span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to (logout_path), method: :delete do %>
                        <i class="fa fa-sign-out"></i>
                        <span><%= t("homepage.signout") %></span>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
