<nav id="border" class="navbar-nav">
    <div>
        <%= link_to image_tag("vn.png", class: "icon-flag navbar-nav ml-auto"), locale: "vi" %>
        <%= link_to image_tag("gb.png", class: "icon-flag navbar-nav ml-auto"), locale: "en" %>
    </div>
</nav>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <%= link_to("#") do %>
                <span class="user-name">
                    <b>POST VOTE</b>
                </span>
            <% end %>
        </div>
        <div class="sidebar-header">
            <div class="user-info">
                <span class="user-name">
                    <strong>User: <%= current_user.name %></strong>
                </span>
                <span class="user-name">
                    <% if current_user.is_admin %>
                        <strong>Role: Admin</strong>
                    <% else %>
                        <strong>Role: User</strong>
                    <% end %>
                </span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <% # General %>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(user_path(current_user)) do %>
                        <i class="fa fa-tachometer"></i>
                        <span>Dashboard</span>
                    <% end %>
                </li>

                <% # User %>
                <li class="header-menu">
                    <span>User</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/users") do %>
                        <i class="fa fa-users"></i>
                        <span>List User</span>
                    <% end %>
                </li>

                <% # Post %>
                <li class="header-menu">
                    <span>Post</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/homepages/posts/index") do %>
                        <i class="fa fa-list"></i>
                        <span>List post</span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/homepages/posts/new") do %>
                        <i class="fa fa-plus-circle"></i>
                        <span>Add post</span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/homepages/posts/edit") do %>
                        <i class="fa fa-pencil"></i>
                        <span>Edit post</span>
                    <% end %>
                </li>

                <% # Setting %>
                <li class="header-menu">
                    <span>Setting</span>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to(edit_user_path(current_user)) do %>
                        <i class="fa fa-user"></i>
                        <span>Profile</span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to("/homepages/users/change-password") do %>
                        <i class="fa fa-shopping-cart"></i>
                        <span>Change Password</span>
                    <% end %>
                </li>
                <li class="sidebar-dropdown">
                    <%= link_to (logout_path), method: :delete do %>
                        <i class="fa fa-sign-out"></i>
                        <span>Sign Out</span>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
