<% content_for :content do %>
    <div class="title"><%= t('post.list-post') %></div>
    <%= search_form_for @q do |f| %>
      <div class="main">
          <div class="input-group"> 
            <% # Search %>
            <%= f.search_field :title_cont, :class => "form-control", :placeholder => t('user.search') %>
            <div class="input-group-append">
              <%= f.submit :class => "btn btn-primary", :style => "background-color: #007bff" do %>
                  <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="main-container">
      <ul class="grid-wrapper">
        <% @posts.each do |post| %>
          <li class="post-list">
            <% if can? :destroy, post %>
              <%= link_to t('post.edit'), edit_post_path(post.id) %>
              <%= link_to t('post.delete'), post, method: :delete, data: { confirm: t('post.really') }, :class => "delete" %>
            <% end %>
            <%= link_to post.title, post_path(post.id), :class => "span-break" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <h4>Import data</h4>
      <%= form_tag import_posts_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%# <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      <%= paginate @posts %>
    </div>  
<% end %>
