<% content_for :content do %>
    <div class="title">List Post</div>
    <%= form_with do |form| %>
      <div class="main">
          <div class="input-group"> 
            <%# Search %>
            <%= form.text_field :search, :class => "form-control", :placeholder => "Search by title" %>
            <div class="input-group-append">
              <%= form.button "Save", :class => "btn btn-primary" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="main-container">
      <ul class="grid-wrapper">
        <% @posts.each do |post| %>
          <li class="post-list">
            <%# <i class="fa fa-ellipsis-v icon-trash"></i> %>
            <% if current_user.is_admin%>
              <%= link_to "Edit", edit_post_path(post.id)  %>
              <%= link_to "Delete", post, method: :delete, data: { confirm: "Really?" }, :class => "delete" %>
            <% end %>
            <%= link_to post.title, post_path(post.id), :class => "span-break" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>  
<% end %>
