<% content_for :content do %>
  <div class="title"><%= t('post.add')%></div>
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
          <%= form_for @post do |form| %>
                
                <% if @post.errors.any? %>
                    <ul>
                        <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>

                <%#  Title %>
                <div class="answer"><%= t('post.title')%></div>
                <div class="form-group row">
                    <%= form.label :title, :class => "col-md-4 col-form-label text-md-right text-white" %>
                    <div class="col-md-6">
                        <%= form.text_area :title, :class => "form-control", :required => true %>
                    </div>
                </div>

                <%#  Answer %>
                <div class="answer"><%= t('post.answer')%></div>
                <div class="form-group row">
                    <%= form.label :title, :class => "col-md-4 col-form-label text-md-right text-white" %>
                    <div class="col-md-6">
                        <input class="form-control add-posts" type="text" value="" name="content[]" required=true>
                    </div>
                </div>
                <div id="main">
                </div>
                <div class="post-vote">
                    <%= link_to "+", "#", :class => "btn btn-primary ", :id => "add" %>
                </div>
                
                <%# Edit post %>
                <div class="col-md-6 offset-md-4">
                    <%= form.button t('post.save'), :class => "btn btn-primary" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
