<% content_for :content do %>
    <div class="title">Detail Post</div>
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
          <%= form_for @post do |form| %>
                
                <% if @post.errors.any? %>
                    <ul>
                        <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>

                <%#  Title %>
                <div class="answer">Title post</div>
                <div class="form-group row">
                    <%= form.label :title, :class => "col-md-4 col-form-label text-md-right text-white" %>
                    <div class="col-md-6">
                        <%= form.text_area :title, :class => "form-control", :required => true , :disabled => true %>
                    </div>
                </div>

                <%#  Answer %>
                <div class="answer">Answer</div>
                <% @post_content.each do |post_content| %>
                <div class="form-group row comment">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col check-box">
                                <input type="checkbox" name="content[1][]" value="1" id="content-<%= post_content.id %>">
                            </div>
                            <div class="col">
                                <input class="form-control size-text-field" disabled="disabled" type="text" name="content" id="content" value="<%= post_content.content %>">
                                75%
                            </div>
                        </div>              
                    </div>
                </div>
                <% end %>
                
                <%# Save %>
                <div>
                    <button type="button" class="btn btn-primary button-save-vote-post">Save Vote</button>
                </div> 
            <% end %>
             <div class="border-comment">
                <h3 class="heading text-center">Comment</h3>
                <div class="container">
                    <%= form_with do |form| %>
                        <%= form.text_area nil, :class => "form-control status-box textarea-comment textfield-comment", :placeholder => "Enter your comment here..." %>
                        <div class="button-group pull-right">
                            <%= link_to "Post", "#", :class => "btn btn-primary button-post-comment" %>
                        </div>
                        <ul class="posts">
                        </ul>
                    <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
